/*--------------------------------*/
/* screen and (max-width: 1024px) */
/*--------------------------------*/

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 375px et 667px */
@media all and (min-width: 768px) and (max-width: 1024px)

/* ------------------ */
/* DEFINITION POLICES */
/* ------------------ */

/* Définition police Raleway en deux parties :
    1) Texte normal = Raleway Regular 400
    2) Texte en gras = Raleway Bold 700 */
@font-face 
{
    font-family: 'Raleway';
    src: url('../fonts/regular/raleway-regular-webfont.eot');
    src: url('../fonts/regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/regular/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/regular/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Raleway';
    src: url('../fonts/bold/raleway-bold-webfont.eot');
    src: url('../fonts/bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/bold/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/bold/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* ----------------- */
/* ELEMENTS GENERAUX */
/* ----------------- */

*{
    /* Même police pour toute la page */
    font-family: "Raleway", sans-serif;
}

body
{
    width:93%;
    margin:auto;
    margin-top: 15px;
}

#header_principale
{
    display: flex;
    align-items: center;
}

#logo_container
{
    flex:1;
}


header, #hebergements_link, #activites_link, #signup_link
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#hebergements_link, #activites_link, #signup_link
{
    padding-left:40px;
    padding-right:15px;
    padding-top:25px;
}


/* Détermination des éléments en texte gras */
#signup_link
{
    font-weight:bold;
    color:#0065FC;
}

h1 h2 h3 
{
    font-weight:bold;
}

h1
{
    font-size:1.3em;
}

h2
{
    font-size:0.9em;
}

h3
{
    font-size:0.68em;
}

a
{
    text-decoration: none;
    color:black;
}

/* Détermination de la couleur du lien hebergement */
#hebergements_link
{
    color:#0065FC;
}


#hebergements_link:hover{
    border-top:2px #0065FC solid; 
}

#activites_link:hover{
    border-top:2px solid; 
}


/* ----------------- */
/* ELEMENTS DE MA 1ERE SECTION : TITRE DE LA PAGE; */
/* ----------------- */

/* Reduire l'espacement entre les deux phrases de description */

#title_principal_recherche h1
{
    margin-bottom: 3px;
}

#title_principal_recherche p
{
    margin-top: 10px;
    font-size: 1.1em;
}


/* Equilibrer l'espacement entre mes 4 dev dans ma première section */

#title_principal_recherche, #search_bar_container, #filtres_selections, #info_suppl_section1
{
    padding-bottom: 2px;
}

#search_bar_container
{
    margin-top: 10px;
}

#search_bar
{
    display:flex;
    flex-direction: row;
}

#locate_icon
{
    background-color:#F2F2F2 ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 12px 28px 12px 25px;
}

#search
{
    padding:10px;
    margin-right:0px;
    margin-left:0px;
    border:#F2F2F2 solid 1px;
    border-left: 0px;
    border-right:0px;

    /* Taille fixe de 200px pour le style.css principal*/
    width: 250px;
}

#search
{
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

#valid_button_text
{
    font-weight: bold;
}

#valid_button
{
    background-color:#0065FC; 
    color:#FFFFFF;
    border:0px;
    font-size: 1.1em;
    padding:11px;
    margin-left:-10px;
    margin-right: -10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* Masquer le bouton avec l'icone loupe, on affiche celui avec le texte uniquement */
#valid_button_icon
{
    display:none;
}

#filtres
{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
}

#filter_buttons
{
    display: flex;
}

#filtres h2
{
    margin-right:40px;
    font-size: 1.1em;
}

#filter_buttons form
{
    margin-right:50px;
    display: flex;
}

#filter_buttons button
{
    display: flex;
    background-color: #FFFFFF;
    height:40px;
    align-items:center;
    border-radius: 180px;
    border:#d3d1d1 solid 1px;
    padding-right:20px;
}

#filter_buttons button:hover
{
    /* Au survol des boutons, ILS changent d’apparence et se decalent vers le bas et à droite avec affichage d'une ombre  */
    position:relative;
    right: -4px;
    bottom:-4px;
    box-shadow: 5px -4px 5px grey;
}


/* Les icones qui sont juste à la gauche du texte des boutons filtres*/
.button_icon
{
    color:#0065FC;
    font-size: 1.2em;
    background-color:#DEEBFF;
    border-radius: 180px;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left:-12px; 
    z-index: 1;
}

.button_text
{
    padding-left: 7px;
    padding-right: 5px;
}

.button_text
{
    font-size: 1.1em;
    font-weight:bold;
}

/* Mise en forme de la phrase d'information */
#info_nb_logements{
    display:flex;   
    flex-direction: row;
    align-items:center;
}
#circle_info{
    width:20px;
    height:20px;
    background-color:#FFFFFF;
    border:1px solid #dbdbdb;
    border-radius: 180px ;
    display:flex;
    justify-content: center;
    align-items:center;
}
#circle_info i{
    font-size:0.7em;
    color:#0065FC;
    background-color: #FFFFFF;
}
#info_text{
    font-size: 1em;
    padding-left:6px;
}

#info_suppl_section1
{
    padding-left: 10px;    
}