/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

/* ------------------ */
/* DEFINITION POLICES */
/* ------------------ */

/* Définition police Raleway en deux parties :
    1) Texte normal = Raleway Regular 400
    2) Texte en gras = Raleway Bold 700 */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/regular/raleway-regular-webfont.eot');
    src: url('../fonts/regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/bold/raleway-bold-webfont.eot');
    src: url('../fonts/bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* ----------------- */
/* ELEMENTS GENERAUX */
/* ----------------- */


*{
    /* Même police pour toute la page */
    font-family: "Raleway", sans-serif;
}


/* General Colors */

*{
    color-blue: #0065FC;
    color-light-blue: #DEEBFF;
    color-black: #000000;
    color-gray: #F2F2F2;
    color-white: #FFFFFF;
    color-transparent: rgba(255, 255, 255, .4);
}


/* ----------------- */
/* ELEMENTS GENERAUX */
/* ----------------- */

*{
    /* Même police pour toute la page */
    font-family: "Raleway", sans-serif;
}

body
{
    width:80%;
    margin:auto;
    margin-top: 15px;
}

#header_principale
{
    display: flex;
    align-items: center;
}

#logo_container
{
    flex:1;
}


header, #hebergements_link, #activites_link, #signup_link
{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

#hebergements_link, #activites_link, #signup_link
{
    padding-left:15px;
    padding-right:15px;
    padding-top:25px;
}


/* Détermination des éléments en texte gras */
#signup_link
{
    font-weight:bold;
    color:#0065FC;
}

a
{
    text-decoration: none;
    color:black;
}

/* Détermination de la couleur du lien hebergement */
#hebergements_link
{
    color:#0065FC;
}


#hebergements_link:hover{
    border-top:2px #0065FC solid; 
}

#activites_link:hover{
    border-top:2px solid; 
}


/* ----------------- */
/* ELEMENTS DE MA 1ERE SECTION : TITRE DE LA PAGE; */
/* ----------------- */

/* Reduire l'espacement entre les deux phrases de description */

#title_principal_recherche h1
{
    margin-bottom: 3px;
}

#title_principal_recherche p
{
    margin-top: 3px;
}


/* Equilibrer l'espacement entre mes 4 dev dans ma première section */

#title_principal_recherche, #search_bar_container, #filtres_selections, #info_suppl_section1
{
    padding-bottom: 2px;
}

#search_bar_container
{
    margin-top: 10px;
}

#search_bar
{
    display:flex;
    flex-direction: row;
}

#locate_icon
{
    background-color:#F2F2F2 ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px 13px 12px 13px;
}

#search
{
    padding:10px;
    margin-right:0px;
    margin-left:0px;
    border:#F2F2F2 solid 1px;
    border-left: 0px;
    border-right:0px;

    /* Taille fixe de 200px pour le style.css principal*/
    width: 200px;
}

#search
{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 0.9em;
}

#valid_button_text
{
    font-weight: bold;
}

#valid_button
{
    background-color:#0065FC; 
    color:#FFFFFF;
    border:0px;
    font-size: 0.9em;
    padding:11px;
    margin-left:-5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
/* Masquer le bouton avec l'icone loupe, on affiche celui avec le texte uniquement */
#valid_button_icon
{
    display:none;
}

#filtres
{
    display: flex;
    align-items: center;
}

#filter_buttons
{
    display: flex;
}

#filtres h2
{
    margin-right:25px;
    font-size: 1em;
}

#filter_buttons form
{
    margin-right:20px;
    display: flex;
}

#filter_buttons button
{
    display: flex;
    background-color: #FFFFFF;
    height:40px;
    align-items:center;
    border-radius: 180px;
    border:#d3d1d1 solid 1px;
}

#filter_buttons button:hover
{
    /* Au survol des boutons, ILS changent d’apparence et se decalent vers le bas et à droite avec affichage d'une ombre  */
    position:relative;
    right: -4px;
    bottom:-4px;
    box-shadow: 4px -4px 5px #ebebeb;
}
